<!-- Application container -->
<div class="container-fluid container-application">
    <!-- Sidenav -->
    <div class="sidenav show" id="sidenav-main">
        <!-- Sidenav header -->
        <div class="sidenav-header d-flex align-items-center">
            <a class="navbar-brand" href="../index.html">
                <img src="assets/img/brand/logo.png" class="navbar-brand-img" alt="...">
            </a>
            <div class="ml-auto">
                <!-- Sidenav toggler -->
                <div class="sidenav-toggler sidenav-toggler-dark d-md-none" data-action="sidenav-unpin" data-target="#sidenav-main">
                    <div class="sidenav-toggler-inner">
                        <i class="sidenav-toggler-line bg-white"></i>
                        <i class="sidenav-toggler-line bg-white"></i>
                        <i class="sidenav-toggler-line bg-white"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- Application nav -->
        <div class="nav-application clearfix">
            <span routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="btn btn-square bg-white text-sm">
              <span class="btn-inner--icon d-block"><i class="fas fa-home fa-2x"></i></span>
            <span class="btn-inner--icon d-block pt-2">Tümü</span>
            </span>
            <span routerLink="locations" routerLinkActive="active" class="btn btn-square bg-white text-sm">
              <span class="btn-inner--icon d-block"><i class="fas fa-project-diagram fa-2x"></i></span>
            <span class="btn-inner--icon d-block pt-2">Koltuk Takımı</span>
            </span>
            <span routerLink="products" routerLinkActive="active" class="btn btn-square bg-white text-sm">
              <span class="btn-inner--icon d-block"><i class="fas fa-tasks fa-2x"></i></span>
            <span class="btn-inner--icon d-block pt-2">Kose</span>
            </span>
            <span routerLink="stores" routerLinkActive="active" class="btn btn-square bg-white text-sm">
              <span class="btn-inner--icon d-block"><i class="fas fa-columns fa-2x"></i></span>
            <span class="btn-inner--icon d-block pt-2">Yemek odası</span>
            </span>
            <span routerLink="/admin/raflar" class="btn btn-square bg-white text-sm">
              <span class="btn-inner--icon d-block"><i class="fas fa-users-cog  fa-2x"></i></span>
            <span class="btn-inner--icon d-block pt-2">Çocuk odası</span>
            </span>

        </div>
    </div>
    <!-- Content -->
    <div class="main-content position-relative">
        <!-- Main nav -->
        <nav class="navbar navbar-main navbar-expand-lg navbar-dark bg-primary navbar-border" id="navbar-main">
            <div class="container-fluid">

                <!-- Navbar nav -->
                <div class="collapse navbar-collapse navbar-collapse-fade" id="navbar-main-collapse">
                    <!-- Right menu -->
                    <ul class="navbar-nav ml-lg-auto align-items-center d-none d-lg-flex">
                        <li class="nav-item">
                            <a class="nav-link nav-link-icon sidenav-toggler" data-action="sidenav-pin" data-target="#sidenav-main"><i class="fas fa-bars"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--Page contennt-->
        <router-outlet></router-outlet>
        <!--Page contennt-end-->

    </div>
</div>