<!-- Application container -->
<div class="container-fluid container-application">
    <!-- Sidenav -->
    <div class="sidenav show" id="sidenav-main">
        <!-- Sidenav header -->
        <div class="sidenav-header d-flex align-items-center">
            <a class="navbar-brand" href="../index.html">
                <img src="assets/img/brand/logo.png" class="navbar-brand-img" alt="...">
            </a>
            <div class="ml-auto">
                <!-- Sidenav toggler -->
                <div class="sidenav-toggler sidenav-toggler-dark d-md-none" data-action="sidenav-unpin" data-target="#sidenav-main">
                    <div class="sidenav-toggler-inner">
                        <i class="sidenav-toggler-line bg-white"></i>
                        <i class="sidenav-toggler-line bg-white"></i>
                        <i class="sidenav-toggler-line bg-white"></i>
                    </div>
                </div>
            </div>
        </div>

        

        <!-- Application nav -->
        <div class="nav-application clearfix">
            <span [routerLink]="['home','']" routerLinkActive="activeC" [routerLinkActiveOptions]="{ exact: true }" class="btn btn-square bg-white text-sm">
              <span class="btn-inner--icon d-block"><img src="assets/img/sofa.png" style="width: 50px;"></span>
            <span class="btn-inner--icon d-block pt-2">Tümü</span>
            </span>
            <span [routerLink]="['home','room']" routerLinkActive="activeC" class="btn btn-square bg-white text-sm">
              <span class="btn-inner--icon d-block"><img src="assets/img/sofa.png" style="width: 50px;"></span>
            <span class="btn-inner--icon d-block pt-2">Koltuk Takımı</span>
            </span>
            <span [routerLink]="['home','kose']" routerLinkActive="activeC" class="btn btn-square bg-white text-sm">
              <span class="btn-inner--icon d-block"><img src="assets/img/sofa.png" style="width: 50px;"></span>
            <span class="btn-inner--icon d-block pt-2">Kose</span>
            </span>
            <span [routerLink]="['home','kitchen']" routerLinkActive="activeC" class="btn btn-square bg-white text-sm">
              <span class="btn-inner--icon d-block"><img src="assets/img/sofa.png" style="width: 50px;"></span>
            <span class="btn-inner--icon d-block pt-2">Yemek odası</span>
            </span>
            <span [routerLink]="['home','child']" routerLinkActive="activeC" class="btn btn-square bg-white text-sm">
              <span class="btn-inner--icon d-block"><img src="assets/img/sofa.png" style="width: 50px;"></span>
            <span class="btn-inner--icon d-block pt-2">Çocuk odası</span>
            </span>

        </div>
    </div>
    <!-- Content -->
    <div class="main-content position-relative">
        <!-- Main nav -->
        <nav class="navbar navbar-main navbar-expand-md  navbar-dark bg-primary navbar-border" id="navbar-main">
            <div class="container-fluid">

                <!-- Navbar nav -->
                <div class="collapse navbar-collapse navbar-collapse-fade" id="navbar-main-collapse">
                    <!-- Right menu -->
                    <ul class="navbar-nav ml-lg-auto align-items-center d-none d-lg-flex">
                        <li class="nav-item">
                            <a class="nav-link nav-link-icon sidenav-toggler" data-action="sidenav-pin" data-target="#sidenav-main"><i class="fas fa-bars"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="nav-application clearfix d-flex d-md-none scrolling">
            <span [routerLink]="['home','']" routerLinkActive="activeC" [routerLinkActiveOptions]="{ exact: true }" class="btn btn-square m-2 bg-white text-sm">
                <span class="btn-inner--icon"><img src="assets/img/sofa.png" style="width: 50px;"></span>
                <span class="btn-inner--icon pt-2">Tümü</span>
            </span>
            <span [routerLink]="['home','room']" routerLinkActive="activeC" class="btn m-2 btn-square bg-white text-sm">
                <span class="btn-inner--icon d-block"><img src="assets/img/sofa.png" style="width: 50px;"></span>
                <span class="btn-inner--icon d-block pt-2">Koltuk Takımı</span>
            </span>
            <span [routerLink]="['home','kose']" routerLinkActive="activeC" class="btn m-2 btn-square bg-white text-sm">
                <span class="btn-inner--icon d-block"><img src="assets/img/sofa.png" style="width: 50px;"></span>
                <span class="btn-inner--icon d-block pt-2">Kose</span>
            </span>
            <span [routerLink]="['home','kitchen']" routerLinkActive="activeC" class="btn  m-2 btn-square bg-white text-sm">
                <span class="btn-inner--icon d-block"><img src="assets/img/sofa.png" style="width: 50px;"></span>
                <span class="btn-inner--icon d-block pt-2">Yemek odası</span>
            </span>
            <span [routerLink]="['home','child']" routerLinkActive="activeC" class="btn  m-2 btn-square bg-white text-sm">
                <span class="btn-inner--icon d-block"><img src="assets/img/sofa.png" style="width: 50px;"></span>
                <span class="btn-inner--icon d-block pt-2">Çocuk odası</span>
            </span>

        </div>

        <!--Page contennt-->
        <router-outlet></router-outlet>
        <!--Page contennt-end-->

    </div>
</div>